:root {
    font-size: 16px;
    --my-padding-left: 1rem;
}

body {
    margin: 0;
    padding: 0;
}

div#container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    min-height: 100vh;
}

header {
    min-width: 100%;
    min-height: 200px;
    background-color: rgb(175, 255, 235);
}


nav {
    background-color: rgb(255, 208, 0);
    grid-column: 1;
    grid-row: 1;
    min-width: 200px;
}
main {
    background-color: rgba(255, 105, 180, 0.192);
    grid-column: 2;
    grid-row: 1;
}
footer {
    clear: both;
    background-color: rgba(167, 209, 94, 0.463);
    min-width: 100%;
}
article {
    background-color: rgba(255, 105, 180, 0.581);
    margin: 1rem;
    padding: var(--my-padding-left);
}
h1 {
    color: black;
    font-weight: bold;
    font-size: 3rem;
    padding: var(--my-padding-left);
}
p {
    font-size: 1rem;
    padding: var(--my-padding-left);
}

@media screen and (max-width: 600px) {
   div#container {
    grid-template-columns: 1fr;
   }
   main {
    grid-column: 1;
    grid-row: 2;
}
}