:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

div#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 100vh;
}

header {
    min-width: 100%;
    min-height: 200px;
    background-color: rgb(175, 255, 235);
}
nav {
    flex: 1 120px;
    background-color: rgb(255, 208, 0);
}
main {
    flex: 10;
    background-color: rgba(255, 105, 180, 0.192);
}
footer {
    clear: both;
    background-color: rgba(167, 209, 94, 0.463);
    min-width: 100%;
}
article {
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 105, 180, 0.581);
}
h1 {
    color: black;
    font-weight: bold;
    margin: 10px;
    font-size: 3rem;
}
p {
    font-size: 1rem;
}

@media screen and (max-width: 600px) {
    div#container {
        flex-direction: column;
    }
}